In [1]:
import pandas as pd
import requests as r
import json
from string import ascii_uppercase
import itertools

In [2]:
lst=[]

def iter_all_strings():
    for size in itertools.count(1):
        for s in itertools.product(ascii_uppercase, repeat=size):
            yield "".join(s)

for s in iter_all_strings():
    if len(s)<2:
        pass
    else:
        lst.append(s)
    if s == 'BF':
        break
        
print(lst)

['AA', 'AB', 'AC', 'AD', 'AE', 'AF', 'AG', 'AH', 'AI', 'AJ', 'AK', 'AL', 'AM', 'AN', 'AO', 'AP', 'AQ', 'AR', 'AS', 'AT', 'AU', 'AV', 'AW', 'AX', 'AY', 'AZ', 'BA', 'BB', 'BC', 'BD', 'BE', 'BF']

In [3]:
lst_df=[]

for i in lst:
    data=r.get(f'https://app.dvf.etalab.gouv.fr/api/mutations3/75109/000{i}')
    data=data.json()
    df = pd.DataFrame(data['mutations'])
    lst_df.append(df)
    
db=pd.concat(lst_df, axis=0, ignore_index=True)

db

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,section_prefixe
0,2019-1072649,2019-12-23,1,Vente,665000.0,47,None,RUE DE DOUAI,2909,75009,...,55.0,4.0,None,None,None,None,nan,2.330953,48.882913,000AA
1,2019-1072739,2019-12-19,1,Vente,18300000.0,106,None,RUE D AMSTERDAM,0300,75009,...,693.0,0.0,None,None,None,None,nan,2.327339,48.883026,000AA
2,2019-1072673,2019-12-16,1,Vente,71000.0,14,None,RUE BALLU,0646,75009,...,nan,0.0,None,None,None,None,nan,2.330517,48.882159,000AA
3,2019-1072512,2019-12-13,1,Vente,1520000.0,1,None,PL ADOLPHE MAX,0065,75009,...,123.0,5.0,None,None,None,None,nan,2.330485,48.883136,000AA
4,2019-1072512,2019-12-13,1,Vente,1520000.0,1,None,PL ADOLPHE MAX,0065,75009,...,6.0,1.0,None,None,None,None,nan,2.330485,48.883136,000AA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13933,2014-1059819,2014-01-13,1,Vente,252000.0,10,None,RUE DE ROCHECHOUART,8289,75009,...,25.0,1,None,None,None,None,None,2.345008,48.877038,000BF
13934,2014-1059714,2014-01-10,1,Vente,540000.0,10,None,RUE MAYRAN,6223,75009,...,60.0,3,None,None,None,None,None,2.344981,48.877407,000BF
13935,2014-1059717,2014-01-10,1,Vente,102000.0,4,None,RUE ROCHAMBEAU,8283,75009,...,nan,0,None,None,None,None,None,2.34667,48.877538,000BF
13936,2014-1059717,2014-01-10,1,Vente,102000.0,4,None,RUE ROCHAMBEAU,8283,75009,...,nan,0,None,None,None,None,None,2.34667,48.877538,000BF
13937,2014-1059709,2014-01-09,1,Vente,443000.0,29,None,RUE DE BELLEFOND,0827,75009,...,43.0,3,None,None,None,None,None,2.346413,48.877644,000BF

In [4]:
db['lot5_surface_carrez'].unique()
db['lot5_surface_carrez']=db['lot5_surface_carrez'].replace('nan', 0)
db['lot5_surface_carrez']=db['lot5_surface_carrez'].replace('None', 0)
db['lot5_surface_carrez'].unique()

array([0, '1.0', '120.05', '26.78', '51.44', '138.7', '5.12', '40.0'],
      dtype=object)

In [5]:
db.columns

Index(['id_mutation', 'date_mutation', 'numero_disposition', 'nature_mutation',
       'valeur_fonciere', 'adresse_numero', 'adresse_suffixe',
       'adresse_nom_voie', 'adresse_code_voie', 'code_postal', 'code_commune',
       'nom_commune', 'code_departement', 'ancien_code_commune',
       'ancien_nom_commune', 'id_parcelle', 'ancien_id_parcelle',
       'numero_volume', 'lot1_numero', 'lot1_surface_carrez', 'lot2_numero',
       'lot2_surface_carrez', 'lot3_numero', 'lot3_surface_carrez',
       'lot4_numero', 'lot4_surface_carrez', 'lot5_numero',
       'lot5_surface_carrez', 'nombre_lots', 'code_type_local', 'type_local',
       'surface_reelle_bati', 'nombre_pieces_principales',
       'code_nature_culture', 'nature_culture', 'code_nature_culture_speciale',
       'nature_culture_speciale', 'surface_terrain', 'longitude', 'latitude',
       'section_prefixe'],
      dtype='object')

In [10]:
df1 = df.iloc[:, 0:2] 
df1

      id_mutation date_mutation
0    2019-1072487    2019-11-26
1    2019-1072372    2019-11-06
2    2019-1071994    2019-10-25
3    2019-1071994    2019-10-25
4    2019-1071982    2019-10-23
..            ...           ...
286  2014-1059819    2014-01-13
287  2014-1059714    2014-01-10
288  2014-1059717    2014-01-10
289  2014-1059717    2014-01-10
290  2014-1059709    2014-01-09

[291 rows x 2 columns]

In [17]:
db.iloc[:, 18:27]=db.iloc[:, 18:27].replace('nan', 0)
db.iloc[:, 18:27]=db.iloc[:, 18:27].replace('None', 0)
db['surface_reelle_bati']=db['surface_reelle_bati'].replace('nan', 0)
db['surface_reelle_bati']=db['surface_reelle_bati'].replace('None', 0)
db.iloc[:, 18:27]=db

In [18]:
db

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,section_prefixe
0,2019-1072649,2019-12-23,1,Vente,665000.0,47,None,RUE DE DOUAI,2909,75009,...,55.0,4.0,None,None,None,None,nan,2.330953,48.882913,000AA
1,2019-1072739,2019-12-19,1,Vente,18300000.0,106,None,RUE D AMSTERDAM,0300,75009,...,693.0,0.0,None,None,None,None,nan,2.327339,48.883026,000AA
2,2019-1072673,2019-12-16,1,Vente,71000.0,14,None,RUE BALLU,0646,75009,...,0,0.0,None,None,None,None,nan,2.330517,48.882159,000AA
3,2019-1072512,2019-12-13,1,Vente,1520000.0,1,None,PL ADOLPHE MAX,0065,75009,...,123.0,5.0,None,None,None,None,nan,2.330485,48.883136,000AA
4,2019-1072512,2019-12-13,1,Vente,1520000.0,1,None,PL ADOLPHE MAX,0065,75009,...,6.0,1.0,None,None,None,None,nan,2.330485,48.883136,000AA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13933,2014-1059819,2014-01-13,1,Vente,252000.0,10,None,RUE DE ROCHECHOUART,8289,75009,...,25.0,1,None,None,None,None,None,2.345008,48.877038,000BF
13934,2014-1059714,2014-01-10,1,Vente,540000.0,10,None,RUE MAYRAN,6223,75009,...,60.0,3,None,None,None,None,None,2.344981,48.877407,000BF
13935,2014-1059717,2014-01-10,1,Vente,102000.0,4,None,RUE ROCHAMBEAU,8283,75009,...,0,0,None,None,None,None,None,2.34667,48.877538,000BF
13936,2014-1059717,2014-01-10,1,Vente,102000.0,4,None,RUE ROCHAMBEAU,8283,75009,...,0,0,None,None,None,None,None,2.34667,48.877538,000BF
13937,2014-1059709,2014-01-09,1,Vente,443000.0,29,None,RUE DE BELLEFOND,0827,75009,...,43.0,3,None,None,None,None,None,2.346413,48.877644,000BF

In [19]:
sum(db.surface_reelle_bati)==sum(db.lot1_surface_carrez)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
db.dtypes

id_mutation                     object
date_mutation                   object
numero_disposition              object
nature_mutation                 object
valeur_fonciere                 object
adresse_numero                  object
adresse_suffixe                 object
adresse_nom_voie                object
adresse_code_voie               object
code_postal                     object
code_commune                    object
nom_commune                     object
code_departement                object
ancien_code_commune             object
ancien_nom_commune              object
id_parcelle                     object
ancien_id_parcelle              object
numero_volume                   object
lot1_numero                     object
lot1_surface_carrez             object
lot2_numero                     object
lot2_surface_carrez             object
lot3_numero                     object
lot3_surface_carrez             object
lot4_numero                     object
lot4_surface_carrez             object
lot5_numero                     object
lot5_surface_carrez             object
nombre_lots                     object
code_type_local                 object
type_local                      object
surface_reelle_bati             object
nombre_pieces_principales       object
code_nature_culture             object
nature_culture                  object
code_nature_culture_speciale    object
nature_culture_speciale         object
surface_terrain                 object
longitude                       object
latitude                        object
section_prefixe                 object
dtype: object