In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
from getpass import getpass

In [2]:
Hostname='localhost'
un='root'
password=getpass()

········

In [4]:
db='finance1'

In [5]:
engine=create_engine(f'mysql+pymysql://{un}:{password}@{Hostname}/{db}')

In [6]:
query="""
select district_id, amount
from account a
inner join loan l on a.account_id=l.account_id"""

In [7]:
df=pd.read_sql_query(query, engine)

In [8]:
df

     district_id  amount
0             44   79608
1             15   52788
2             55   21924
3             54   23052
4             68   41904
..           ...     ...
677           51  191580
678           64  210744
679           38  160920
680           70   22260
681           56  185544

[682 rows x 2 columns]

In [15]:
df.groupby('district_id').mean().sort_values('amount',ascending=False).head(5)

                    amount
district_id
46           294730.000000
14           251365.500000
3            243466.000000
69           242304.000000
6            232886.666667

In [16]:
df.groupby('district_id').median().sort_values('amount',ascending=False).head(5)

             amount
district_id
46           279312
14           276870
67           234174
28           213300
20           206586

## Pandas Manipulation

In [19]:
pd.Series(range(10,100,10))[2]

30

In [27]:
pd.DataFrame([range(10,100,10),range(9)], index=list('ab')).T['a']

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
Name: a, dtype: int64

We can consider DataFrame as a dictionary where the keys of dict are column names, while the values of dict are Series

In [29]:
url='https://studio.ironhack.school/asset-v1:IRONHACK+DAFT+202006_PAR+type@asset+block@datasets_674388_1186156_tv_shows.csv'

In [30]:
url

'https://studio.ironhack.school/asset-v1:IRONHACK+DAFT+202006_PAR+type@asset+block@datasets_674388_1186156_tv_shows.csv'

In [34]:
#We can download file into dataframe from web dirctly link to csv file
df=pd.read_csv(url, index_col='Unnamed: 0')

In [35]:
df

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1
5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1
5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1
5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1
5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1

In [36]:
df.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

## Brief intro to dataset

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5611 entries, 0 to 5610
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            5611 non-null   object
 1   Year             5611 non-null   int64
 2   Age              3165 non-null   object
 3   IMDb             4450 non-null   float64
 4   Rotten Tomatoes  1011 non-null   object
 5   Netflix          5611 non-null   int64
 6   Hulu             5611 non-null   int64
 7   Prime Video      5611 non-null   int64
 8   Disney+          5611 non-null   int64
 9   type             5611 non-null   int64
dtypes: float64(1), int64(6), object(3)
memory usage: 482.2+ KB

## 2.2 Column manipulation

### 2.2.1 Rename the column

In [39]:
df.columns

Index(['Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+', 'type'],
      dtype='object')

In [40]:
# Dumb solution

df.columns=['Title', 'Year', 'Age', 'IMDb', 'Rotten_Tomatoes', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+', 'type']

In [41]:
df.columns

Index(['Title', 'Year', 'Age', 'IMDb', 'Rotten_Tomatoes', 'Netflix', 'Hulu',
       'Prime Video', 'Disney+', 'type'],
      dtype='object')

In [43]:
df.head()

,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [46]:
# Better solution but still dumb

df.columns=[i.replace(' ','_') for i in df.columns]

In [47]:
df.head()

,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [51]:
# Good solution

df.rename(columns={'Age':'Age_restr'}).head()

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [53]:
df.head()

,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

As we can see, the rename didn't store changes. How can we store them?

In [54]:
#Option 1

df=df.rename(columns={'Age':'Age_restr'})

#Option 2
df.rename(columns={'Age':'Age_restr'}, inplace=True)

In [55]:
df.head()

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

Rename method ignores your missspellings. If it couldn't find the column you wanted to rename. It simpli ignores them. You will not see any warning or error message.

### 2.2.3 Add a new column

In [56]:
# just a constant

df['new_column']=4

In [57]:
df.head()

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,4
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,4
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,4
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,4

In [58]:
# duplicate a column that already exists in any dataframe

df['duplicated_column']=df['Title']
df.head()

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,4,Stranger Things
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,4,Money Heist
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,4,Sherlock
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,4,Better Call Saul

In [66]:
# Calculated column/ Let's say I want to watch all the series with IMDb rating higher than 9,2
# I will create a column that contain only 2 values - 'to watch and skip'.

# First of all, I need to select the rows where IMDb>9.2
df.IMDb>9.2;

# Then we locate those titles
df.loc[df.IMDb>9.2];

# Assign a value to a new_column
df.loc[df.IMDb>9.2, 'todolist']='to watch'

# Assign value 'Skip' to the rest of the rows
df.loc[~(df.IMDb>9.2), 'todolist']='skip'

In [67]:
df.head()

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,4,Stranger Things,skip
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,4,Money Heist,skip
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,4,Sherlock,skip
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,4,Better Call Saul,skip

### 2.2.3 Unique values

In [69]:
df.nunique()

Title                5564
Year                   81
Age_restr               5
IMDb                   78
Rotten_Tomatoes        88
Netflix                 2
Hulu                    2
Prime_Video             2
Disney+                 2
type                    1
new_column              1
duplicated_column    5564
todolist                2
dtype: int64

In [71]:
df.Age_restr.nunique()

5

### 2.2.4 Frequency of each value

mysql:
    
select value, count(*)

from table

group by value

In [72]:
df.Age_restr.value_counts()

16+    1018
7+      848
18+     750
all     545
13+       4
Name: Age_restr, dtype: int64

### 2.2.5 Descriptive stats and calculations

#### 2.2.5.1 Descriptives

* Mean (average)
* Median
* Mode
* Border values (max and min)
* Percentiles
* Standard deviation
* Variance
* Support (nb of rows)

In [74]:
df.mean() #average per column

Year           2011.021030
IMDb              7.113258
Netflix           0.344145
Hulu              0.312600
Prime_Video       0.382107
Disney+           0.032080
type              1.000000
new_column        4.000000
dtype: float64

In [79]:
df.median(axis=1) #average per row

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
5606    1.0
5607    1.0
5608    1.0
5609    1.0
5610    1.0
Length: 5611, dtype: float64

In [80]:
df.mean().mean() #average per table

253.02565258050498

In [82]:
df.median() #median per column

Year           2015.0
IMDb              7.3
Netflix           0.0
Hulu              0.0
Prime_Video       0.0
Disney+           0.0
type              1.0
new_column        4.0
dtype: float64

In [83]:
df.median().median() #median per table

0.5

In [85]:
df.median(axis=1).median()

1.0

In [86]:
df.min()

Title                #MeToo, Now What?
Year                              1901
IMDb                                 1
Netflix                              0
Hulu                                 0
Prime_Video                          0
Disney+                              0
type                                 1
new_column                           4
duplicated_column    #MeToo, Now What?
todolist                          skip
dtype: object

In [87]:
df.max()

Title                頭文字D First Stage
Year                             2020
IMDb                              9.6
Netflix                             1
Hulu                                1
Prime_Video                         1
Disney+                             1
type                                1
new_column                          4
duplicated_column    頭文字D First Stage
todolist                     to watch
dtype: object

In [89]:
df.quantile(q=0.25)

Year           2010.0
IMDb              6.6
Netflix           0.0
Hulu              0.0
Prime_Video       0.0
Disney+           0.0
type              1.0
new_column        4.0
Name: 0.25, dtype: float64

In [90]:
df.quantile(q=0.99)

Year           2020.0
IMDb              8.9
Netflix           1.0
Hulu              1.0
Prime_Video       1.0
Disney+           1.0
type              1.0
new_column        4.0
Name: 0.99, dtype: float64

In [91]:
df.std()

Year           11.005116
IMDb            1.132060
Netflix         0.475131
Hulu            0.463594
Prime_Video     0.485946
Disney+         0.176228
type            0.000000
new_column      0.000000
dtype: float64

In [92]:
df.count()

Title                5611
Year                 5611
Age_restr            3165
IMDb                 4450
Rotten_Tomatoes      1011
Netflix              5611
Hulu                 5611
Prime_Video          5611
Disney+              5611
type                 5611
new_column           5611
duplicated_column    5611
todolist             5611
dtype: int64

In [93]:
df.describe()

,Year,IMDb,Netflix,Hulu,Prime_Video,Disney+,type,new_column
count,5611.000000,4450.000000,5611.000000,5611.000000,5611.000000,5611.000000,5611.0,5611.0
mean,2011.021030,7.113258,0.344145,0.312600,0.382107,0.032080,1.0,4.0
std,11.005116,1.132060,0.475131,0.463594,0.485946,0.176228,0.0,0.0
min,1901.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.0,4.0
25%,2010.000000,6.600000,0.000000,0.000000,0.000000,0.000000,1.0,4.0
50%,2015.000000,7.300000,0.000000,0.000000,0.000000,0.000000,1.0,4.0
75%,2017.000000,7.900000,1.000000,1.000000,1.000000,0.000000,1.0,4.0
max,2020.000000,9.600000,1.000000,1.000000,1.000000,1.000000,1.0,4.0

In [94]:
df.Year.mode()

0    2017
dtype: int64

In [95]:
df.mode()

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Kingdom,2017.0,16+,7.4,100%,0.0,0.0,0.0,0.0,1.0,4.0,Kingdom,skip
1,Undercover,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Undercover,NaN

In [96]:
df.Title.value_counts()

Kingdom                    3
Undercover                 3
Wilfred                    2
Baby Talk                  2
Baby Daddy                 2
                          ..
Changing Seas              1
Digimon Tamers             1
Webster                    1
Naruto Shippūden           1
The Last Place on Earth    1
Name: Title, Length: 5564, dtype: int64

In [97]:
df.Title.mode()

0       Kingdom
1    Undercover
dtype: object

#### 2.2.5.2 Calculations

In [98]:
# get all the numeric columns

df._get_numeric_data()

      Year  IMDb  Netflix  Hulu  Prime_Video  Disney+  type  new_column
0     2008   9.5        1     0            0        0     1           4
1     2016   8.8        1     0            0        0     1           4
2     2017   8.4        1     0            0        0     1           4
3     2010   9.1        1     0            0        0     1           4
4     2015   8.7        1     0            0        0     1           4
...    ...   ...      ...   ...          ...      ...   ...         ...
5606  2018   NaN        0     0            0        1     1           4
5607  2017   NaN        0     0            0        1     1           4
5608  2018   NaN        0     0            0        1     1           4
5609  2017   NaN        0     0            0        1     1           4
5610  2016   NaN        0     0            0        1     1           4

[5611 rows x 8 columns]

In order to get non-numeric data:
1. get numeric data
2. get the column names of #1
3. get the columns names of df
4. from #3 susbtract #2
5. select #4 from df

In [99]:
df[[i for i in df.columns if i not in df._get_numeric_data().columns]]

,Title,Age_restr,Rotten_Tomatoes,duplicated_column,todolist
0,Breaking Bad,18+,96%,Breaking Bad,to watch
1,Stranger Things,16+,93%,Stranger Things,skip
2,Money Heist,18+,91%,Money Heist,skip
3,Sherlock,16+,78%,Sherlock,skip
4,Better Call Saul,18+,97%,Better Call Saul,skip
...,...,...,...,...,...
5606,Tut's Treasures: Hidden Secrets,NaN,NaN,Tut's Treasures: Hidden Secrets,skip
5607,Paradise Islands,NaN,NaN,Paradise Islands,skip
5608,Wild Russia,NaN,NaN,Wild Russia,skip
5609,Love & Vets,NaN,NaN,Love & Vets,skip
5610,United States of Animals,NaN,NaN,United States of Animals,skip

In [100]:
#Sum the values
df.sum()

Title                Breaking BadStranger ThingsMoney HeistSherlock...
Year                                                          11283839
IMDb                                                             31654
Netflix                                                           1931
Hulu                                                              1754
Prime_Video                                                       2144
Disney+                                                            180
type                                                              5611
new_column                                                       22444
duplicated_column    Breaking BadStranger ThingsMoney HeistSherlock...
todolist             to watchskipskipskipskipskipskipskipskipskipsk...
dtype: object

In [101]:
df.sum(axis=1)

0       2023.5
1       2030.8
2       2031.4
3       2025.1
4       2029.7
         ...
5606    2024.0
5607    2023.0
5608    2024.0
5609    2023.0
5610    2022.0
Length: 5611, dtype: float64

In [103]:
#Sum of several columns

#Silly way
df.Netflix+df['Disney+']

#Pandas way
df.Netflix.add(df['Disney+'])

0       1
1       1
2       1
3       1
4       1
       ..
5606    1
5607    1
5608    1
5609    1
5610    1
Length: 5611, dtype: int64

In [104]:
#Difference between column

#Silly way
df.Netflix-df['Disney+']

#Pandas way
df.Netflix.sub(df['Disney+'])

0       1
1       1
2       1
3       1
4       1
       ..
5606   -1
5607   -1
5608   -1
5609   -1
5610   -1
Length: 5611, dtype: int64

In [105]:
#Column Multiplication

#Silly way
df.Netflix*df['Disney+']

#Pandas way
df.Netflix.mul(df['Disney+'])

0       0
1       0
2       0
3       0
4       0
       ..
5606    0
5607    0
5608    0
5609    0
5610    0
Length: 5611, dtype: int64

In [106]:
#Column Division

#Silly way
df.Netflix/df['Disney+']

#Pandas way
df.Netflix.div(df['Disney+'])

0       inf
1       inf
2       inf
3       inf
4       inf
       ...
5606    0.0
5607    0.0
5608    0.0
5609    0.0
5610    0.0
Length: 5611, dtype: float64

In [110]:
#Column reverse division

#Silly way
display(df['Disney+']/df.Netflix)

#Pandas way
df.Netflix.rdiv(df['Disney+'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
5606    inf
5607    inf
5608    inf
5609    inf
5610    inf
Length: 5611, dtype: float64

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
5606    inf
5607    inf
5608    inf
5609    inf
5610    inf
Length: 5611, dtype: float64

In [111]:
4/3

1.3333333333333333

In [112]:
4//3

1

In [113]:
#Column floor Division

#Silly way
display(df.Netflix//df['Disney+'])

#Pandas way
df.Netflix.floordiv(df['Disney+'])

0       inf
1       inf
2       inf
3       inf
4       inf
       ...
5606    0.0
5607    0.0
5608    0.0
5609    0.0
5610    0.0
Length: 5611, dtype: float64

0       0
1       0
2       0
3       0
4       0
       ..
5606    0
5607    0
5608    0
5609    0
5610    0
Length: 5611, dtype: int64

In [115]:
# difference per row
# here 3 - step number of rows that we consider
# row3-row0, row4-row1, row5-row2...

df._get_numeric_data().diff(3)

      Year  IMDb  Netflix  Hulu  Prime_Video  Disney+  type  new_column
0      NaN   NaN      NaN   NaN          NaN      NaN   NaN         NaN
1      NaN   NaN      NaN   NaN          NaN      NaN   NaN         NaN
2      NaN   NaN      NaN   NaN          NaN      NaN   NaN         NaN
3      2.0  -0.4      0.0   0.0          0.0      0.0   0.0         0.0
4     -1.0  -0.1      0.0   0.0          0.0      0.0   0.0         0.0
...    ...   ...      ...   ...          ...      ...   ...         ...
5606   6.0   NaN      0.0   0.0          0.0      0.0   0.0         0.0
5607  -2.0   NaN      0.0   0.0          0.0      0.0   0.0         0.0
5608   5.0   NaN      0.0   0.0          0.0      0.0   0.0         0.0
5609  -1.0   NaN      0.0   0.0          0.0      0.0   0.0         0.0
5610  -1.0   NaN      0.0   0.0          0.0      0.0   0.0         0.0

[5611 rows x 8 columns]

### 2.2.6 Missing values

In [116]:
df.isna()

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5606,False,False,True,True,True,False,False,False,False,False,False,False,False
5607,False,False,True,True,True,False,False,False,False,False,False,False,False
5608,False,False,True,True,True,False,False,False,False,False,False,False,False
5609,False,False,True,True,True,False,False,False,False,False,False,False,False
5610,False,False,True,True,True,False,False,False,False,False,False,False,False

In [117]:
# Number of missing values per column
df.isna().sum()

Title                   0
Year                    0
Age_restr            2446
IMDb                 1161
Rotten_Tomatoes      4600
Netflix                 0
Hulu                    0
Prime_Video             0
Disney+                 0
type                    0
new_column              0
duplicated_column       0
todolist                0
dtype: int64

### 2.2.7 Transpose

In [119]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,5601,5602,5603,5604,5605,5606,5607,5608,5609,5610
Title,Breaking Bad,Stranger Things,Money Heist,Sherlock,Better Call Saul,The Office,Black Mirror,Supernatural,Peaky Blinders,Avatar: The Last Airbender,...,Disney Junior Music Nursery Rhymes,Bug Juice: My Adventures at Camp,Disney Insider,Lost Treasures of the Maya,Awesome Animals,Tut's Treasures: Hidden Secrets,Paradise Islands,Wild Russia,Love & Vets,United States of Animals
Year,2008,2016,2017,2010,2015,2005,2011,2005,2013,2005,...,2017,2018,2012,2019,2013,2018,2017,2018,2017,2016
Age_restr,18+,16+,18+,16+,18+,16+,18+,16+,18+,7+,...,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IMDb,9.5,8.8,8.4,9.1,8.7,8.9,8.8,8.4,8.8,9.2,...,6.6,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rotten_Tomatoes,96%,93%,91%,78%,97%,81%,83%,93%,92%,100%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netflix,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Hulu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Prime_Video,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Disney+,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
type,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
new_column,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
duplicated_column,Breaking Bad,Stranger Things,Money Heist,Sherlock,Better Call Saul,The Office,Black Mirror,Supernatural,Peaky Blinders,Avatar: The Last Airbender,...,Disney Junior Music Nursery Rhymes,Bug Juice: My Adventures at Camp,Disney Insider,Lost Treasures of the Maya,Awesome Animals,Tut's Treasures: Hidden Secrets,Paradise Islands,Wild Russia,Love & Vets,United States of Animals
todolist,to watch,skip,skip,skip,skip,skip,skip,skip,skip,skip,...,skip,skip,skip,skip,skip,skip,skip,skip,skip,skip

In [121]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,5601,5602,5603,5604,5605,5606,5607,5608,5609,5610
Title,Breaking Bad,Stranger Things,Money Heist,Sherlock,Better Call Saul,The Office,Black Mirror,Supernatural,Peaky Blinders,Avatar: The Last Airbender,...,Disney Junior Music Nursery Rhymes,Bug Juice: My Adventures at Camp,Disney Insider,Lost Treasures of the Maya,Awesome Animals,Tut's Treasures: Hidden Secrets,Paradise Islands,Wild Russia,Love & Vets,United States of Animals
Year,2008,2016,2017,2010,2015,2005,2011,2005,2013,2005,...,2017,2018,2012,2019,2013,2018,2017,2018,2017,2016
Age_restr,18+,16+,18+,16+,18+,16+,18+,16+,18+,7+,...,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IMDb,9.5,8.8,8.4,9.1,8.7,8.9,8.8,8.4,8.8,9.2,...,6.6,7.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rotten_Tomatoes,96%,93%,91%,78%,97%,81%,83%,93%,92%,100%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netflix,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Hulu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Prime_Video,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Disney+,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
type,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
new_column,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
duplicated_column,Breaking Bad,Stranger Things,Money Heist,Sherlock,Better Call Saul,The Office,Black Mirror,Supernatural,Peaky Blinders,Avatar: The Last Airbender,...,Disney Junior Music Nursery Rhymes,Bug Juice: My Adventures at Camp,Disney Insider,Lost Treasures of the Maya,Awesome Animals,Tut's Treasures: Hidden Secrets,Paradise Islands,Wild Russia,Love & Vets,United States of Animals
todolist,to watch,skip,skip,skip,skip,skip,skip,skip,skip,skip,...,skip,skip,skip,skip,skip,skip,skip,skip,skip,skip

### 2.2.8 Sort values

# '''python
DataFrame.sort_values(
    by='column'/'row' or ['first column', 'second column'..],
    ascending = True/False
    inplace = True/False by default,
    na_position = 'last'/'first' - where do you want to display your missing values,
    ignore_index = False to keep index as it is or to relabel it into (0,1,2,...))
'''

df.sort_values(by='IMDb', ascending=False, ignore_index=True)

### 2.2.9 Sort by index

In [125]:
df.sort_index()

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,4,Stranger Things,skip
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,4,Money Heist,skip
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,4,Sherlock,skip
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,4,Better Call Saul,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1,4,Tut's Treasures: Hidden Secrets,skip
5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1,4,Paradise Islands,skip
5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1,4,Wild Russia,skip
5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1,4,Love & Vets,skip
5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1,4,United States of Animals,skip

### 2.2.10 Drop column

In [127]:
df.drop(columns='duplicated_column')

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,to watch
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,4,skip
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,4,skip
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,4,skip
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,4,skip
...,...,...,...,...,...,...,...,...,...,...,...,...
5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1,4,skip
5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1,4,skip
5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1,4,skip
5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1,4,skip
5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1,4,skip

In [128]:
df.drop(columns=['duplicated_column','new_column'])

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,to watch
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,skip
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,skip
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,skip
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,skip
...,...,...,...,...,...,...,...,...,...,...,...
5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1,skip
5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1,skip
5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1,skip
5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1,skip
5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1,skip

In [130]:
df.drop(['duplicated_column','new_column'], axis=1)

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,to watch
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,skip
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,skip
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,skip
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,skip
...,...,...,...,...,...,...,...,...,...,...,...
5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1,skip
5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1,skip
5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1,skip
5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1,skip
5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1,skip

In [131]:
df.drop('qhqsd',axis=1)

KeyError: "['qhqsd'] not found in axis"

## 2.3 Rows manipulations

### 2.3.1 Reindex

In [132]:
ix=pd.Index(list('abcd'))

In [134]:
'c' in ix

True

In [135]:
ix=pd.Index(list('abcd'), name='random')

In [136]:
ix

Index(['a', 'b', 'c', 'd'], dtype='object', name='random')

In [137]:
ix.name

'random'

Lets create a new df with only series that I want to watch

In [144]:
# Select them
df.todolist=='to watch'

#Save them
newdf=df[df.todolist=='to watch']
newdf

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
91,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
325,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
2365,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
3023,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
3177,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
3566,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
3567,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
3747,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
4128,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [145]:
newdf.shape

(10, 13)

In [147]:
#How many rows are there?
print('There are', newdf.shape[0], 'rows')

There are 10 rows

In [148]:
# Lets create the index
ix=pd.Index(range(newdf.shape[0]), name='rows')

In [149]:
#dumb way
newdf.index=ix
newdf

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
rows,,,,,,,,,,,,,
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
1,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
2,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
3,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
4,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
5,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
6,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
7,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
8,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
9,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [151]:
# Pandas way
newdf.set_index(ix) #doesn't store the index in df, just show it

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
rows,,,,,,,,,,,,,
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
1,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
2,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
3,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
4,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
5,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
6,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
7,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
8,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
9,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

Sometimes we need to deal with multiindex

In [153]:
mindex=pd.MultiIndex.from_product([range(newdf.shape[0]//2), ['one','two']])

In [155]:
mindex

MultiIndex([(0, 'one'),
            (0, 'two'),
            (1, 'one'),
            (1, 'two'),
            (2, 'one'),
            (2, 'two'),
            (3, 'one'),
            (3, 'two'),
            (4, 'one'),
            (4, 'two')],
           )

In [156]:
df.groupby(['todolist','Netflix']).mean()

                         Year      IMDb      Hulu  Prime_Video   Disney+  \
todolist Netflix
skip     0        2009.379526  7.072682  0.444323     0.557855  0.047373
         1        2014.191909  7.159624  0.061722     0.046680  0.003112
to watch 0        2001.714286  9.428571  0.428571     0.714286  0.000000
         1        2004.666667  9.366667  0.000000     0.000000  0.000000

                  type  new_column
todolist Netflix
skip     0         1.0         4.0
         1         1.0         4.0
to watch 0         1.0         4.0
         1         1.0         4.0

In [157]:
newdf.set_index(mindex,inplace=True)

In [159]:
# select only first index
newdf.index.levels[0]

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [160]:
# select only second index
newdf.index.levels[1]

Index(['one', 'two'], dtype='object')

In [163]:
newdf.index.set_levels(['On Netflix','Not on Netflix'], level=1)

MultiIndex([(0,     'On Netflix'),
            (0, 'Not on Netflix'),
            (1,     'On Netflix'),
            (1, 'Not on Netflix'),
            (2,     'On Netflix'),
            (2, 'Not on Netflix'),
            (3,     'On Netflix'),
            (3, 'Not on Netflix'),
            (4,     'On Netflix'),
            (4, 'Not on Netflix')],
           )

In [164]:
# You don't want to have multiindex anymore? reset it!
newdf.reset_index()

,level_0,level_1,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,0,one,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
1,0,two,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
2,1,one,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
3,1,two,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
4,2,one,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
5,2,two,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
6,3,one,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
7,3,two,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
8,4,one,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
9,4,two,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [165]:
#move specific level into a column
newdf.reset_index(level=1)

,level_1,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,one,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
0,two,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
1,one,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
1,two,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
2,one,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
2,two,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
3,one,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
3,two,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
4,one,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
4,two,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [166]:
# I don't want to have specific level neither as column nor as index
newdf.reset_index(level=0, drop=True)

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
one,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
two,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch
one,Ramayan,1987,all,9.3,NaN,1,0,0,0,1,4,Ramayan,to watch
two,The Joy of Painting,1983,all,9.4,NaN,0,1,1,0,1,4,The Joy of Painting,to watch
one,Destiny,2014,NaN,9.6,NaN,0,1,0,0,1,4,Destiny,to watch
two,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
one,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
two,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
one,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
two,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [172]:
newdf.loc[(0,'one')]

Title                Breaking Bad
Year                         2008
Age_restr                     18+
IMDb                          9.5
Rotten_Tomatoes               96%
Netflix                         1
Hulu                            0
Prime_Video                     0
Disney+                         0
type                            1
new_column                      4
duplicated_column    Breaking Bad
todolist                 to watch
Name: (0, one), dtype: object

In [173]:
newdf.loc[0]

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
one,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
two,Our Planet,2019,7+,9.3,93%,1,0,0,0,1,4,Our Planet,to watch

In [174]:
newdf.loc[(0,'one')]

Title                Breaking Bad
Year                         2008
Age_restr                     18+
IMDb                          9.5
Rotten_Tomatoes               96%
Netflix                         1
Hulu                            0
Prime_Video                     0
Disney+                         0
type                            1
new_column                      4
duplicated_column    Breaking Bad
todolist                 to watch
Name: (0, one), dtype: object

### 2.3.3 Add rows

In [175]:
df.append(newdf.reset_index(drop=True))

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1,4,Breaking Bad,to watch
1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1,4,Stranger Things,skip
2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1,4,Money Heist,skip
3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1,4,Sherlock,skip
4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1,4,Better Call Saul,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,Hungry Henry,2014,NaN,9.5,NaN,0,1,0,0,1,4,Hungry Henry,to watch
6,The Wire,2002,18+,9.3,94%,0,0,1,0,1,4,The Wire,to watch
7,Band of Brothers,2001,18+,9.4,94%,0,0,1,0,1,4,Band of Brothers,to watch
8,Malgudi Days,1987,all,9.5,NaN,0,0,1,0,1,4,Malgudi Days,to watch
9,Green Paradise,2011,all,9.3,NaN,0,0,1,0,1,4,Green Paradise,to watch

In [183]:
df=df.append(newdf, ignore_index=True)

In [179]:
df.loc['crocodile',:]=['Random movie',2014, 'all',11,'50%', 0, 0, 0, 0, 2, 5, '', 'skip']

In [180]:
df

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
1,Stranger Things,2016.0,16+,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,skip
2,Money Heist,2017.0,18+,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,skip
3,Sherlock,2010.0,16+,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,skip
4,Better Call Saul,2015.0,18+,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5607,Paradise Islands,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Paradise Islands,skip
5608,Wild Russia,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Wild Russia,skip
5609,Love & Vets,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Love & Vets,skip
5610,United States of Animals,2016.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,United States of Animals,skip
crocodile,Random movie,2014.0,all,11.0,50%,0.0,0.0,0.0,0.0,2.0,5.0,,skip

In [181]:
df.tail()

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
5607,Paradise Islands,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Paradise Islands,skip
5608,Wild Russia,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Wild Russia,skip
5609,Love & Vets,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Love & Vets,skip
5610,United States of Animals,2016.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,United States of Animals,skip
crocodile,Random movie,2014.0,all,11.0,50%,0.0,0.0,0.0,0.0,2.0,5.0,,skip

### 2.3.3 Check if row is duplicated

In [184]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5617     True
5618     True
5619     True
5620     True
5621     True
Length: 5622, dtype: bool

In [185]:
df[df.duplicated()]

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
5612,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5613,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5614,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5615,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5616,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5617,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [188]:
df[df.duplicated(subset=['Year','Title','Age_restr'])]

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
5612,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5613,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5614,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5615,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5616,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5617,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [189]:
df[df.duplicated(subset=['Title'])]

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
629,Charmed,2018.0,16+,4.5,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Charmed,skip
646,The Code,2014.0,NaN,7.4,NaN,1.0,1.0,0.0,0.0,1.0,4.0,The Code,skip
1212,Danger Mouse,2015.0,all,7.1,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Danger Mouse,skip
1221,Maniac,2015.0,NaN,7.0,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Maniac,skip
1347,The Good Cop,2015.0,NaN,7.5,NaN,1.0,0.0,0.0,0.0,1.0,4.0,The Good Cop,skip
1486,Inspector Gadget,2015.0,all,4.4,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Inspector Gadget,skip
1971,The Office,2001.0,16+,8.5,96%,0.0,1.0,0.0,0.0,1.0,4.0,The Office,skip
2185,Ben 10,2005.0,7+,7.2,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Ben 10,skip
2193,Battlestar Galactica,1978.0,7+,7.2,33%,0.0,1.0,0.0,0.0,1.0,4.0,Battlestar Galactica,skip
2195,Shameless,2004.0,18+,8.0,NaN,0.0,1.0,1.0,0.0,1.0,4.0,Shameless,skip
2226,Baby Daddy,2012.0,16+,7.3,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Baby Daddy,skip
2307,The Outer Limits,1995.0,18+,7.7,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Outer Limits,skip
2452,Shark,2006.0,16+,7.1,52%,0.0,1.0,0.0,0.0,1.0,4.0,Shark,skip
2492,Fruits Basket,2001.0,7+,7.9,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Fruits Basket,skip
2563,Kingdom,2007.0,NaN,7.9,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Kingdom,skip
2592,Lost in Space,1965.0,all,7.2,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Lost in Space,skip
2663,Party of Five,2020.0,NaN,5.3,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Party of Five,skip
2674,Kingdom,2012.0,16+,8.0,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Kingdom,skip
2746,Melrose Place,2009.0,16+,6.0,60%,0.0,1.0,0.0,0.0,1.0,4.0,Melrose Place,skip
2901,No Activity,2015.0,18+,7.9,NaN,0.0,1.0,0.0,0.0,1.0,4.0,No Activity,skip
2906,Bleak House,1985.0,NaN,7.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,Bleak House,skip
2943,The Librarians,2007.0,NaN,6.9,NaN,0.0,1.0,0.0,0.0,1.0,4.0,The Librarians,skip
3041,Fresh Off the Boat,2012.0,16+,7.9,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Fresh Off the Boat,skip
3044,American Gladiators,2008.0,NaN,5.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,American Gladiators,skip
3066,Max Steel,2000.0,7+,6.2,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Max Steel,skip
3078,The Kennedys,2015.0,7+,7.2,NaN,0.0,1.0,0.0,0.0,1.0,4.0,The Kennedys,skip
3119,Abandoned,2012.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Abandoned,skip
3156,Kojak,2005.0,NaN,5.4,33%,0.0,1.0,0.0,0.0,1.0,4.0,Kojak,skip
3170,The Powerpuff Girls,2016.0,7+,3.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,The Powerpuff Girls,skip
3544,Summertime,2016.0,NaN,NaN,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Summertime,skip
3675,Undercover,2011.0,7+,8.9,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Undercover,skip
3776,American Gothic,2016.0,16+,6.7,58%,0.0,0.0,1.0,0.0,1.0,4.0,American Gothic,skip
3822,Wilfred,2007.0,18+,7.9,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Wilfred,skip
3899,Fearless,2017.0,18+,7.6,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Fearless,skip
3917,Westside,2015.0,NaN,8.0,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Westside,skip
3964,Jane Eyre,1983.0,NaN,8.0,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Jane Eyre,skip
4004,Undercover,2016.0,16+,6.8,75%,0.0,0.0,1.0,0.0,1.0,4.0,Undercover,skip
4032,Moby Dick,2011.0,18+,6.2,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Moby Dick,skip
4070,Elizabeth I,2017.0,NaN,7.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Elizabeth I,skip
4329,Rome,2012.0,NaN,5.7,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Rome,skip
4376,Marco Polo,2007.0,NaN,6.0,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Marco Polo,skip
4437,Clifford the Big Red Dog,2019.0,all,5.9,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Clifford the Big Red Dog,skip
4533,The Baker and the Beauty,2013.0,NaN,NaN,NaN,0.0,0.0,1.0,0.0,1.0,4.0,The Baker and the Beauty,skip
4892,Frequency,2012.0,NaN,NaN,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Frequency,skip
5235,Baby Talk,2017.0,NaN,NaN,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Baby Talk,skip
5467,DuckTales,1987.0,7+,8.1,NaN,0.0,0.0,0.0,1.0,1.0,4.0,DuckTales,skip
5532,The Incredible Hulk,1996.0,7+,6.8,NaN,0.0,0.0,0.0,1.0,1.0,4.0,The Incredible Hulk,skip
5612,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5613,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5614,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5615,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5616,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5617,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [191]:
df[df.duplicated(subset=['Title'], keep=False)]

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5,The Office,2005.0,16+,8.9,81%,1.0,0.0,0.0,0.0,1.0,4.0,The Office,skip
26,Shameless,2011.0,18+,8.6,85%,1.0,0.0,0.0,0.0,1.0,4.0,Shameless,skip
65,Kingdom,2019.0,18+,8.4,96%,1.0,0.0,0.0,0.0,1.0,4.0,Kingdom,skip
91,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [193]:
df[df.duplicated(subset=['Title'], keep=False)].shape

(112, 13)

In [194]:
df[df.duplicated(subset=['Title','Year'], keep=False)]

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
91,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
325,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
2365,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
3023,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
3177,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
3566,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
3567,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
3747,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
4128,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch
5612,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5613,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5614,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5615,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5616,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5617,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [196]:
df[df.duplicated(subset=['Title','Year'], keep='first')]

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
5612,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5613,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5614,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5615,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5616,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5617,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [197]:
df[df.duplicated(subset=['Title','Year'], keep='last')]

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
91,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
325,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
2365,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
3023,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
3177,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
3566,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
3567,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
3747,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
4128,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

### 2.3.4 Drop duplicates

In [198]:
df.drop_duplicates()

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
1,Stranger Things,2016.0,16+,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,skip
2,Money Heist,2017.0,18+,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,skip
3,Sherlock,2010.0,16+,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,skip
4,Better Call Saul,2015.0,18+,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5607,Paradise Islands,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Paradise Islands,skip
5608,Wild Russia,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Wild Russia,skip
5609,Love & Vets,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Love & Vets,skip
5610,United States of Animals,2016.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,United States of Animals,skip
5611,Random movie,2014.0,all,11.0,50%,0.0,0.0,0.0,0.0,2.0,5.0,,skip

In [199]:
df.drop_duplicates(subset=['Title'])

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
1,Stranger Things,2016.0,16+,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,skip
2,Money Heist,2017.0,18+,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,skip
3,Sherlock,2010.0,16+,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,skip
4,Better Call Saul,2015.0,18+,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5607,Paradise Islands,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Paradise Islands,skip
5608,Wild Russia,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Wild Russia,skip
5609,Love & Vets,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Love & Vets,skip
5610,United States of Animals,2016.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,United States of Animals,skip
5611,Random movie,2014.0,all,11.0,50%,0.0,0.0,0.0,0.0,2.0,5.0,,skip

In [200]:
df.drop_duplicates(subset=['Title'], keep=False)

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
1,Stranger Things,2016.0,16+,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,skip
2,Money Heist,2017.0,18+,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,skip
3,Sherlock,2010.0,16+,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,skip
4,Better Call Saul,2015.0,18+,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,skip
6,Black Mirror,2011.0,18+,8.8,83%,1.0,0.0,0.0,0.0,1.0,4.0,Black Mirror,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5607,Paradise Islands,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Paradise Islands,skip
5608,Wild Russia,2018.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Wild Russia,skip
5609,Love & Vets,2017.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Love & Vets,skip
5610,United States of Animals,2016.0,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,United States of Animals,skip
5611,Random movie,2014.0,all,11.0,50%,0.0,0.0,0.0,0.0,2.0,5.0,,skip

In [201]:
df.drop_duplicates(subset=['Title'], keep='last')

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
1,Stranger Things,2016.0,16+,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,skip
2,Money Heist,2017.0,18+,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,skip
3,Sherlock,2010.0,16+,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,skip
4,Better Call Saul,2015.0,18+,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,skip
6,Black Mirror,2011.0,18+,8.8,83%,1.0,0.0,0.0,0.0,1.0,4.0,Black Mirror,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

### 2.3.5 Drop missing rows

In [202]:
df.dropna()

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
1,Stranger Things,2016.0,16+,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,skip
2,Money Heist,2017.0,18+,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,skip
3,Sherlock,2010.0,16+,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,skip
4,Better Call Saul,2015.0,18+,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5611,Random movie,2014.0,all,11.0,50%,0.0,0.0,0.0,0.0,2.0,5.0,,skip
5612,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5613,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch

### Drop rows

In [203]:
df.drop(0)

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
1,Stranger Things,2016.0,16+,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,skip
2,Money Heist,2017.0,18+,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,skip
3,Sherlock,2010.0,16+,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,skip
4,Better Call Saul,2015.0,18+,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,skip
5,The Office,2005.0,16+,8.9,81%,1.0,0.0,0.0,0.0,1.0,4.0,The Office,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [206]:
df.drop(range(10))

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
10,The Walking Dead,2010.0,18+,8.2,81%,1.0,0.0,0.0,0.0,1.0,4.0,The Walking Dead,skip
11,Dark,2017.0,16+,8.7,94%,1.0,0.0,0.0,0.0,1.0,4.0,Dark,skip
12,Ozark,2017.0,18+,8.4,81%,1.0,0.0,0.0,0.0,1.0,4.0,Ozark,skip
13,Attack on Titan,2013.0,16+,8.8,94%,1.0,1.0,0.0,0.0,1.0,4.0,Attack on Titan,skip
14,Narcos,2015.0,18+,8.8,89%,1.0,0.0,0.0,0.0,1.0,4.0,Narcos,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [205]:
# drop rows by the index
df.drop(df[df.todolist=='skip'].index)

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
91,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
325,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
2365,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
3023,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
3177,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
3566,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
3567,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
3747,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
4128,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch
5612,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
5613,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5614,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5615,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5616,Destiny,2014.0,NaN,9.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Destiny,to watch
5617,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

### 2.3.7 Copy the DF

In [207]:
df2=df.copy()

In [208]:
df2

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
1,Stranger Things,2016.0,16+,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,skip
2,Money Heist,2017.0,18+,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,skip
3,Sherlock,2010.0,16+,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,skip
4,Better Call Saul,2015.0,18+,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,Hungry Henry,2014.0,NaN,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

### 2.3.8 Fullfill missing values

In [209]:
df.isna().sum()

Title                   0
Year                    0
Age_restr            2448
IMDb                 1161
Rotten_Tomatoes      4606
Netflix                 0
Hulu                    0
Prime_Video             0
Disney+                 0
type                    0
new_column              0
duplicated_column       0
todolist                0
dtype: int64

In [210]:
df.fillna(0)

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
1,Stranger Things,2016.0,16+,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,skip
2,Money Heist,2017.0,18+,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,skip
3,Sherlock,2010.0,16+,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,skip
4,Better Call Saul,2015.0,18+,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,Hungry Henry,2014.0,0,9.5,0,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,0,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,0,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [211]:
df.fillna(0).isna().sum()

Title                0
Year                 0
Age_restr            0
IMDb                 0
Rotten_Tomatoes      0
Netflix              0
Hulu                 0
Prime_Video          0
Disney+              0
type                 0
new_column           0
duplicated_column    0
todolist             0
dtype: int64

In [212]:
# We can fullfill our missing values using 2 methods:
# ffill: forward fill, last value that was not missing
df.fillna(method='ffill')

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
1,Stranger Things,2016.0,16+,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,skip
2,Money Heist,2017.0,18+,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,skip
3,Sherlock,2010.0,16+,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,skip
4,Better Call Saul,2015.0,18+,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,Hungry Henry,2014.0,all,9.5,93%,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,94%,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

In [213]:
# bfill: backward fullfill
df.fillna(method='bfill')

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
0,Breaking Bad,2008.0,18+,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,to watch
1,Stranger Things,2016.0,16+,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,skip
2,Money Heist,2017.0,18+,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,skip
3,Sherlock,2010.0,16+,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,skip
4,Better Call Saul,2015.0,18+,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,Hungry Henry,2014.0,18+,9.5,94%,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,to watch
5618,The Wire,2002.0,18+,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,to watch
5619,Band of Brothers,2001.0,18+,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

## 2.4 Complex filter

### 2.4.1 Boolean indexing

In [214]:
# Series with the premier in the latest year

lyear=df.Year.max()
lyear

2020.0

In [217]:
df[df.Year==lyear]

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
46,Never Have I Ever,2020.0,16+,8.0,97%,1.0,0.0,0.0,0.0,1.0,4.0,Never Have I Ever,skip
50,Unorthodox,2020.0,18+,8.1,94%,1.0,0.0,0.0,0.0,1.0,4.0,Unorthodox,skip
62,"Tiger King: Murder, Mayhem and Madness",2020.0,18+,7.8,86%,1.0,0.0,0.0,0.0,1.0,4.0,"Tiger King: Murder, Mayhem and Madness",skip
95,I Am Not Okay with This,2020.0,18+,7.6,85%,1.0,0.0,0.0,0.0,1.0,4.0,I Am Not Okay with This,skip
101,Outer Banks,2020.0,18+,7.6,72%,1.0,0.0,0.0,0.0,1.0,4.0,Outer Banks,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5562,Short Circuit,2020.0,all,NaN,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Short Circuit,skip
5569,It's A Dog's Life,2020.0,7+,5.2,NaN,0.0,0.0,0.0,1.0,1.0,4.0,It's A Dog's Life,skip
5576,Be our Chef,2020.0,all,6.9,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Be our Chef,skip
5577,Shop Class,2020.0,all,7.2,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Shop Class,skip
5593,Secrets of the Zoo: Tampa,2020.0,NaN,8.4,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Secrets of the Zoo: Tampa,skip

In [220]:
# Series with rating IMDb above 8 and last year

df.Year==lyear

df.IMDb>8

df[(df.Year==lyear)&(df.IMDb>8)]

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
50,Unorthodox,2020.0,18+,8.1,94%,1.0,0.0,0.0,0.0,1.0,4.0,Unorthodox,skip
102,The Midnight Gospel,2020.0,18+,8.4,90%,1.0,0.0,0.0,0.0,1.0,4.0,The Midnight Gospel,skip
192,Middleditch & Schwartz,2020.0,18+,8.7,100%,1.0,0.0,0.0,0.0,1.0,4.0,Middleditch & Schwartz,skip
216,Cheer,2020.0,16+,8.2,96%,1.0,0.0,0.0,0.0,1.0,4.0,Cheer,skip
356,The Trials of Gabriel Fernandez,2020.0,18+,8.2,80%,1.0,0.0,0.0,0.0,1.0,4.0,The Trials of Gabriel Fernandez,skip
361,Itaewon Class,2020.0,NaN,8.2,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Itaewon Class,skip
363,Caliphate,2020.0,NaN,8.2,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Caliphate,skip
483,The King: Eternal Monarch,2020.0,NaN,8.5,NaN,1.0,0.0,0.0,0.0,1.0,4.0,The King: Eternal Monarch,skip
585,Night on Earth,2020.0,7+,8.2,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Night on Earth,skip
593,Kipo and the Age of Wonderbeasts,2020.0,NaN,8.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Kipo and the Age of Wonderbeasts,skip
771,Hospital Playlist,2020.0,NaN,8.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Hospital Playlist,skip
884,Handsome Siblings,2020.0,NaN,8.2,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Handsome Siblings,skip
1177,Go! Go! Cory Carson,2020.0,all,8.1,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Go! Go! Cory Carson,skip
1617,Buddi,2020.0,NaN,8.2,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Buddi,skip
1970,Normal People,2020.0,NaN,8.8,83%,0.0,1.0,0.0,0.0,1.0,4.0,Normal People,skip
2001,DAVE,2020.0,18+,8.4,62%,0.0,1.0,0.0,0.0,1.0,4.0,DAVE,skip
2026,Zoey's Extraordinary Playlist,2020.0,16+,8.1,74%,0.0,1.0,0.0,0.0,1.0,4.0,Zoey's Extraordinary Playlist,skip
2187,Solar Opposites,2020.0,18+,8.2,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Solar Opposites,skip
2957,Jeopardy! The Greatest of All Time,2020.0,7+,8.6,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Jeopardy! The Greatest of All Time,skip
3585,Upload,2020.0,NaN,8.2,81%,0.0,0.0,1.0,0.0,1.0,4.0,Upload,skip
3646,ZeroZeroZero,2020.0,18+,8.2,80%,0.0,0.0,1.0,0.0,1.0,4.0,ZeroZeroZero,skip
3686,The Test: A New Era For Australia's Team,2020.0,NaN,9.0,NaN,0.0,0.0,1.0,0.0,1.0,4.0,The Test: A New Era For Australia's Team,skip
3795,James May: Our Man In Japan,2020.0,NaN,8.4,NaN,0.0,0.0,1.0,0.0,1.0,4.0,James May: Our Man In Japan,skip
5482,Disney Gallery / Star Wars: The Mandalorian,2020.0,7+,8.5,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Disney Gallery / Star Wars: The Mandalorian,skip
5499,Prop Culture,2020.0,7+,8.6,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Prop Culture,skip
5593,Secrets of the Zoo: Tampa,2020.0,NaN,8.4,NaN,0.0,0.0,0.0,1.0,1.0,4.0,Secrets of the Zoo: Tampa,skip

'''mysql
select column1, column 2
from df
where year=lyear & IMDb>8
'''

In [223]:
# Select column

df.loc[(df.Year==lyear)&(df.IMDb>8),['Title','Netflix']]

                                            Title  Netflix
50                                     Unorthodox      1.0
102                           The Midnight Gospel      1.0
192                        Middleditch & Schwartz      1.0
216                                         Cheer      1.0
356               The Trials of Gabriel Fernandez      1.0
361                                 Itaewon Class      1.0
363                                     Caliphate      1.0
483                     The King: Eternal Monarch      1.0
585                                Night on Earth      1.0
593              Kipo and the Age of Wonderbeasts      1.0
771                             Hospital Playlist      1.0
884                             Handsome Siblings      1.0
1177                          Go! Go! Cory Carson      1.0
1617                                        Buddi      1.0
1970                                Normal People      0.0
2001                                         DAVE      0.0
2026                Zoey's Extraordinary Playlist      0.0
2187                              Solar Opposites      0.0
2957           Jeopardy! The Greatest of All Time      0.0
3585                                       Upload      0.0
3646                                 ZeroZeroZero      0.0
3686     The Test: A New Era For Australia's Team      0.0
3795                  James May: Our Man In Japan      0.0
5482  Disney Gallery / Star Wars: The Mandalorian      0.0
5499                                 Prop Culture      0.0
5593                    Secrets of the Zoo: Tampa      0.0

In [225]:
df.loc[(df.Year==lyear)&(df.IMDb>8),'Title':'Netflix']

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix
50,Unorthodox,2020.0,18+,8.1,94%,1.0
102,The Midnight Gospel,2020.0,18+,8.4,90%,1.0
192,Middleditch & Schwartz,2020.0,18+,8.7,100%,1.0
216,Cheer,2020.0,16+,8.2,96%,1.0
356,The Trials of Gabriel Fernandez,2020.0,18+,8.2,80%,1.0
361,Itaewon Class,2020.0,NaN,8.2,NaN,1.0
363,Caliphate,2020.0,NaN,8.2,NaN,1.0
483,The King: Eternal Monarch,2020.0,NaN,8.5,NaN,1.0
585,Night on Earth,2020.0,7+,8.2,NaN,1.0
593,Kipo and the Age of Wonderbeasts,2020.0,NaN,8.3,NaN,1.0
771,Hospital Playlist,2020.0,NaN,8.3,NaN,1.0
884,Handsome Siblings,2020.0,NaN,8.2,NaN,1.0
1177,Go! Go! Cory Carson,2020.0,all,8.1,NaN,1.0
1617,Buddi,2020.0,NaN,8.2,NaN,1.0
1970,Normal People,2020.0,NaN,8.8,83%,0.0
2001,DAVE,2020.0,18+,8.4,62%,0.0
2026,Zoey's Extraordinary Playlist,2020.0,16+,8.1,74%,0.0
2187,Solar Opposites,2020.0,18+,8.2,NaN,0.0
2957,Jeopardy! The Greatest of All Time,2020.0,7+,8.6,NaN,0.0
3585,Upload,2020.0,NaN,8.2,81%,0.0
3646,ZeroZeroZero,2020.0,18+,8.2,80%,0.0
3686,The Test: A New Era For Australia's Team,2020.0,NaN,9.0,NaN,0.0
3795,James May: Our Man In Japan,2020.0,NaN,8.4,NaN,0.0
5482,Disney Gallery / Star Wars: The Mandalorian,2020.0,7+,8.5,NaN,0.0
5499,Prop Culture,2020.0,7+,8.6,NaN,0.0
5593,Secrets of the Zoo: Tampa,2020.0,NaN,8.4,NaN,0.0

In [227]:
df.iloc[((df.Year==lyear)&(df.IMDb>8)).values, 0:3]

                                            Title    Year Age_restr
50                                     Unorthodox  2020.0       18+
102                           The Midnight Gospel  2020.0       18+
192                        Middleditch & Schwartz  2020.0       18+
216                                         Cheer  2020.0       16+
356               The Trials of Gabriel Fernandez  2020.0       18+
361                                 Itaewon Class  2020.0       NaN
363                                     Caliphate  2020.0       NaN
483                     The King: Eternal Monarch  2020.0       NaN
585                                Night on Earth  2020.0        7+
593              Kipo and the Age of Wonderbeasts  2020.0       NaN
771                             Hospital Playlist  2020.0       NaN
884                             Handsome Siblings  2020.0       NaN
1177                          Go! Go! Cory Carson  2020.0       all
1617                                        Buddi  2020.0       NaN
1970                                Normal People  2020.0       NaN
2001                                         DAVE  2020.0       18+
2026                Zoey's Extraordinary Playlist  2020.0       16+
2187                              Solar Opposites  2020.0       18+
2957           Jeopardy! The Greatest of All Time  2020.0        7+
3585                                       Upload  2020.0       NaN
3646                                 ZeroZeroZero  2020.0       18+
3686     The Test: A New Era For Australia's Team  2020.0       NaN
3795                  James May: Our Man In Japan  2020.0       NaN
5482  Disney Gallery / Star Wars: The Mandalorian  2020.0        7+
5499                                 Prop Culture  2020.0        7+
5593                    Secrets of the Zoo: Tampa  2020.0       NaN

In [228]:
# Select top 100 rows and first 5 columns

df.iloc[range(100),0:5]

                      Title    Year Age_restr  IMDb Rotten_Tomatoes
0              Breaking Bad  2008.0       18+   9.5             96%
1           Stranger Things  2016.0       16+   8.8             93%
2               Money Heist  2017.0       18+   8.4             91%
3                  Sherlock  2010.0       16+   9.1             78%
4          Better Call Saul  2015.0       18+   8.7             97%
..                      ...     ...       ...   ...             ...
95  I Am Not Okay with This  2020.0       18+   7.6             85%
96           Criminal Minds  2005.0       16+   8.1             NaN
97          The Vietnam War  2017.0       18+   9.1             98%
98                     Waco  2018.0       18+   7.9             68%
99                Star Trek  1966.0        7+   8.3             80%

[100 rows x 5 columns]

### 2.4.2 Isin()

In [229]:
df.Age_restr.value_counts()

16+    1018
7+      849
18+     753
all     550
13+       4
Name: Age_restr, dtype: int64

In [231]:
df[df.Age_restr=='13+']

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
1116,Powder,1995.0,13+,6.6,50%,1.0,0.0,0.0,0.0,1.0,4.0,Powder,skip
1123,Behind Enemy Lines,2001.0,13+,6.4,37%,1.0,0.0,0.0,0.0,1.0,4.0,Behind Enemy Lines,skip
1514,The In-Laws,2003.0,13+,5.7,34%,1.0,0.0,0.0,0.0,1.0,4.0,The In-Laws,skip
4024,Dark Knight,2000.0,13+,5.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Dark Knight,skip

In [232]:
df[(df.Age_restr=='13+')or(df.Age_restr=='7+') or (df.Age_restr=='all')]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [233]:
df[df.Age_restr.isin(('13+','7+','all'))]

,Title,Year,Age_restr,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist
9,Avatar: The Last Airbender,2005.0,7+,9.2,100%,1.0,0.0,0.0,0.0,1.0,4.0,Avatar: The Last Airbender,skip
16,Community,2009.0,7+,8.5,88%,1.0,1.0,0.0,0.0,1.0,4.0,Community,skip
30,The Flash,2014.0,7+,7.7,89%,1.0,0.0,0.0,0.0,1.0,4.0,The Flash,skip
38,The Vampire Diaries,2009.0,7+,7.7,85%,1.0,0.0,0.0,0.0,1.0,4.0,The Vampire Diaries,skip
59,The Twilight Zone,1959.0,7+,9.0,82%,1.0,1.0,0.0,0.0,1.0,4.0,The Twilight Zone,skip
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5613,Our Planet,2019.0,7+,9.3,93%,1.0,0.0,0.0,0.0,1.0,4.0,Our Planet,to watch
5614,Ramayan,1987.0,all,9.3,NaN,1.0,0.0,0.0,0.0,1.0,4.0,Ramayan,to watch
5615,The Joy of Painting,1983.0,all,9.4,NaN,0.0,1.0,1.0,0.0,1.0,4.0,The Joy of Painting,to watch
5620,Malgudi Days,1987.0,all,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,to watch
5621,Green Paradise,2011.0,all,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,to watch

## 2.5 Strings

In [235]:
df.Title.str.upper()

0           BREAKING BAD
1        STRANGER THINGS
2            MONEY HEIST
3               SHERLOCK
4       BETTER CALL SAUL
              ...
5617        HUNGRY HENRY
5618            THE WIRE
5619    BAND OF BROTHERS
5620        MALGUDI DAYS
5621      GREEN PARADISE
Name: Title, Length: 5622, dtype: object

In [236]:
df.Title.str.lower()

0           breaking bad
1        stranger things
2            money heist
3               sherlock
4       better call saul
              ...
5617        hungry henry
5618            the wire
5619    band of brothers
5620        malgudi days
5621      green paradise
Name: Title, Length: 5622, dtype: object

In [237]:
df.Title.str.title()

0           Breaking Bad
1        Stranger Things
2            Money Heist
3               Sherlock
4       Better Call Saul
              ...
5617        Hungry Henry
5618            The Wire
5619    Band Of Brothers
5620        Malgudi Days
5621      Green Paradise
Name: Title, Length: 5622, dtype: object

In [238]:
df.Title.str.strip('A')

0           Breaking Bad
1        Stranger Things
2            Money Heist
3               Sherlock
4       Better Call Saul
              ...
5617        Hungry Henry
5618            The Wire
5619    Band of Brothers
5620        Malgudi Days
5621      Green Paradise
Name: Title, Length: 5622, dtype: object

In [239]:
df.Title.str.strip('ae')

0           Breaking Bad
1        Stranger Things
2            Money Heist
3               Sherlock
4       Better Call Saul
              ...
5617        Hungry Henry
5618             The Wir
5619    Band of Brothers
5620        Malgudi Days
5621       Green Paradis
Name: Title, Length: 5622, dtype: object

In [240]:
df.Title.str.split()

0            [Breaking, Bad]
1         [Stranger, Things]
2             [Money, Heist]
3                 [Sherlock]
4       [Better, Call, Saul]
                ...
5617         [Hungry, Henry]
5618             [The, Wire]
5619    [Band, of, Brothers]
5620         [Malgudi, Days]
5621       [Green, Paradise]
Name: Title, Length: 5622, dtype: object

In [242]:
df.columns.str.lower().str.strip(' +').str.replace('_',' ')

Index(['title', 'year', 'age restr', 'imdb', 'rotten tomatoes', 'netflix',
       'hulu', 'prime video', 'disney', 'type', 'new column',
       'duplicated column', 'todolist'],
      dtype='object')

In [243]:
df.Title.str.split().str.get(0)

0       Breaking
1       Stranger
2          Money
3       Sherlock
4         Better
          ...
5617      Hungry
5618         The
5619        Band
5620     Malgudi
5621       Green
Name: Title, Length: 5622, dtype: object

In [244]:
df.Title.str.split().str.get(2)

0            NaN
1            NaN
2            NaN
3            NaN
4           Saul
          ...
5617         NaN
5618         NaN
5619    Brothers
5620         NaN
5621         NaN
Name: Title, Length: 5622, dtype: object

In [245]:
df.Title.str.split(expand=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Breaking,Bad,None,None,None,None,None,None,None,None,None,None,None
1,Stranger,Things,None,None,None,None,None,None,None,None,None,None,None
2,Money,Heist,None,None,None,None,None,None,None,None,None,None,None
3,Sherlock,None,None,None,None,None,None,None,None,None,None,None,None
4,Better,Call,Saul,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,Hungry,Henry,None,None,None,None,None,None,None,None,None,None,None
5618,The,Wire,None,None,None,None,None,None,None,None,None,None,None
5619,Band,of,Brothers,None,None,None,None,None,None,None,None,None,None
5620,Malgudi,Days,None,None,None,None,None,None,None,None,None,None,None
5621,Green,Paradise,None,None,None,None,None,None,None,None,None,None,None

In [247]:
df.Title.str.replace('A',':(', case=False)

0           Bre:(king B:(d
1         Str:(nger Things
2              Money Heist
3                 Sherlock
4       Better C:(ll S:(ul
               ...
5617          Hungry Henry
5618              The Wire
5619     B:(nd of Brothers
5620        M:(lgudi D:(ys
5621      Green P:(r:(dise
Name: Title, Length: 5622, dtype: object

In [248]:
#Merge several string into 1

df.Title.str.cat(': '+df.todolist.str.upper(), na_rep='whatever else')

0           Breaking Bad: TO WATCH
1            Stranger Things: SKIP
2                Money Heist: SKIP
3                   Sherlock: SKIP
4           Better Call Saul: SKIP
                   ...
5617        Hungry Henry: TO WATCH
5618            The Wire: TO WATCH
5619    Band of Brothers: TO WATCH
5620        Malgudi Days: TO WATCH
5621      Green Paradise: TO WATCH
Name: Title, Length: 5622, dtype: object

In [249]:
df.Title.str.contains('Bad')

0        True
1       False
2       False
3       False
4       False
        ...
5617    False
5618    False
5619    False
5620    False
5621    False
Name: Title, Length: 5622, dtype: bool

## 2.6 Dummies

In [250]:
df.todolist.str.get_dummies()

      skip  to watch
0        0         1
1        1         0
2        1         0
3        1         0
4        1         0
...    ...       ...
5617     0         1
5618     0         1
5619     0         1
5620     0         1
5621     0         1

[5622 rows x 2 columns]

In [251]:
df.todolist.str.get_dummies(sep=' ')

      skip  to  watch
0        0   1      1
1        1   0      0
2        1   0      0
3        1   0      0
4        1   0      0
...    ...  ..    ...
5617     0   1      1
5618     0   1      1
5619     0   1      1
5620     0   1      1
5621     0   1      1

[5622 rows x 3 columns]

In [253]:
pd.get_dummies(df.todolist)

      skip  to watch
0        0         1
1        1         0
2        1         0
3        1         0
4        1         0
...    ...       ...
5617     0         1
5618     0         1
5619     0         1
5620     0         1
5621     0         1

[5622 rows x 2 columns]

In [254]:
pd.get_dummies(df.todolist, drop_first=True)

      to watch
0            1
1            0
2            0
3            0
4            0
...        ...
5617         1
5618         1
5619         1
5620         1
5621         1

[5622 rows x 1 columns]

In [255]:
pd.get_dummies(data=df, columns=['todolist','Age_restr'], prefix='buaaa')

,Title,Year,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,buaaa_skip,buaaa_to watch,buaaa_13+,buaaa_16+,buaaa_18+,buaaa_7+,buaaa_all
0,Breaking Bad,2008.0,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,0,1,0,0,1,0,0
1,Stranger Things,2016.0,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,1,0,0,1,0,0,0
2,Money Heist,2017.0,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,1,0,0,0,1,0,0
3,Sherlock,2010.0,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,1,0,0,1,0,0,0
4,Better Call Saul,2015.0,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,Hungry Henry,2014.0,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,0,1,0,0,0,0,0
5618,The Wire,2002.0,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,0,1,0,0,1,0,0
5619,Band of Brothers,2001.0,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,0,1,0,0,1,0,0
5620,Malgudi Days,1987.0,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,0,1,0,0,0,0,1
5621,Green Paradise,2011.0,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,0,1,0,0,0,0,1

In [256]:
pd.get_dummies(data=df, columns=['todolist','Age_restr'])

,Title,Year,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney+,type,new_column,duplicated_column,todolist_skip,todolist_to watch,Age_restr_13+,Age_restr_16+,Age_restr_18+,Age_restr_7+,Age_restr_all
0,Breaking Bad,2008.0,9.5,96%,1.0,0.0,0.0,0.0,1.0,4.0,Breaking Bad,0,1,0,0,1,0,0
1,Stranger Things,2016.0,8.8,93%,1.0,0.0,0.0,0.0,1.0,4.0,Stranger Things,1,0,0,1,0,0,0
2,Money Heist,2017.0,8.4,91%,1.0,0.0,0.0,0.0,1.0,4.0,Money Heist,1,0,0,0,1,0,0
3,Sherlock,2010.0,9.1,78%,1.0,0.0,0.0,0.0,1.0,4.0,Sherlock,1,0,0,1,0,0,0
4,Better Call Saul,2015.0,8.7,97%,1.0,0.0,0.0,0.0,1.0,4.0,Better Call Saul,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617,Hungry Henry,2014.0,9.5,NaN,0.0,1.0,0.0,0.0,1.0,4.0,Hungry Henry,0,1,0,0,0,0,0
5618,The Wire,2002.0,9.3,94%,0.0,0.0,1.0,0.0,1.0,4.0,The Wire,0,1,0,0,1,0,0
5619,Band of Brothers,2001.0,9.4,94%,0.0,0.0,1.0,0.0,1.0,4.0,Band of Brothers,0,1,0,0,1,0,0
5620,Malgudi Days,1987.0,9.5,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Malgudi Days,0,1,0,0,0,0,1
5621,Green Paradise,2011.0,9.3,NaN,0.0,0.0,1.0,0.0,1.0,4.0,Green Paradise,0,1,0,0,0,0,1

## 2.7 Binning

There are 3 main ways of binning:
    * equal width bins
    * equal frequency bins
    * custom ones

### 2.7.1 Equal width bins

In [257]:
labels=['Terrible','Bas','ok','Good','Amazing']

In [258]:
df.IMDb.describe()

count    4461.000000
mean        7.119278
std         1.137366
min         1.000000
25%         6.600000
50%         7.300000
75%         7.900000
max        11.000000
Name: IMDb, dtype: float64

In [259]:
pd.cut(df.IMDb, 5)

0       (9.0, 11.0]
1        (7.0, 9.0]
2        (7.0, 9.0]
3       (9.0, 11.0]
4        (7.0, 9.0]
           ...
5617    (9.0, 11.0]
5618    (9.0, 11.0]
5619    (9.0, 11.0]
5620    (9.0, 11.0]
5621    (9.0, 11.0]
Name: IMDb, Length: 5622, dtype: category
Categories (5, interval[float64]): [(0.99, 3.0] < (3.0, 5.0] < (5.0, 7.0] < (7.0, 9.0] < (9.0, 11.0]]

In [260]:
pd.cut(df.IMDb, 5, labels=labels)

0       Amazing
1          Good
2          Good
3       Amazing
4          Good
         ...
5617    Amazing
5618    Amazing
5619    Amazing
5620    Amazing
5621    Amazing
Name: IMDb, Length: 5622, dtype: category
Categories (5, object): ['Terrible' < 'Bas' < 'ok' < 'Good' < 'Amazing']

In [261]:
bins=pd.cut(df.IMDb, 5, labels=labels)

In [262]:
bins.cat.codes

0       4
1       3
2       3
3       4
4       3
       ..
5617    4
5618    4
5619    4
5620    4
5621    4
Length: 5622, dtype: int8

In [264]:
bins, representation = pd.cut(df.IMDb, 5, labels=labels, retbins=True)

In [265]:
bins

0       Amazing
1          Good
2          Good
3       Amazing
4          Good
         ...
5617    Amazing
5618    Amazing
5619    Amazing
5620    Amazing
5621    Amazing
Name: IMDb, Length: 5622, dtype: category
Categories (5, object): ['Terrible' < 'Bas' < 'ok' < 'Good' < 'Amazing']

In [266]:
representation

array([ 0.99,  3.  ,  5.  ,  7.  ,  9.  , 11.  ])

### 2.7.2 Equal frequency bins

In [268]:
bins=pd.qcut(df.IMDb, 5, labels=labels)

In [269]:
bins

0       Amazing
1       Amazing
2       Amazing
3       Amazing
4       Amazing
         ...
5617    Amazing
5618    Amazing
5619    Amazing
5620    Amazing
5621    Amazing
Name: IMDb, Length: 5622, dtype: category
Categories (5, object): ['Terrible' < 'Bas' < 'ok' < 'Good' < 'Amazing']

In [270]:
bins, representation = pd.qcut(df.IMDb, 5, labels=labels, retbins=True)

In [271]:
bins

0       Amazing
1       Amazing
2       Amazing
3       Amazing
4       Amazing
         ...
5617    Amazing
5618    Amazing
5619    Amazing
5620    Amazing
5621    Amazing
Name: IMDb, Length: 5622, dtype: category
Categories (5, object): ['Terrible' < 'Bas' < 'ok' < 'Good' < 'Amazing']

In [272]:
representation

array([ 1. ,  6.3,  7.1,  7.5,  8.1, 11. ])

In [273]:
bins.value_counts()

Bas         1041
Good        1012
Terrible     894
ok           783
Amazing      731
Name: IMDb, dtype: int64

### 2.7.3 Custom size bins

In [274]:
cutoffs=[0,5,8,9,9.5,11]

In [275]:
bins=pd.cut(df.IMDb, cutoffs)
bins

0       (9.0, 9.5]
1       (8.0, 9.0]
2       (8.0, 9.0]
3       (9.0, 9.5]
4       (8.0, 9.0]
           ...
5617    (9.0, 9.5]
5618    (9.0, 9.5]
5619    (9.0, 9.5]
5620    (9.0, 9.5]
5621    (9.0, 9.5]
Name: IMDb, Length: 5622, dtype: category
Categories (5, interval[float64]): [(0.0, 5.0] < (5.0, 8.0] < (8.0, 9.0] < (9.0, 9.5] < (9.5, 11.0]]

In [276]:
bins, representation = pd.cut(df.IMDb, cutoffs, retbins=True)
bins

0       (9.0, 9.5]
1       (8.0, 9.0]
2       (8.0, 9.0]
3       (9.0, 9.5]
4       (8.0, 9.0]
           ...
5617    (9.0, 9.5]
5618    (9.0, 9.5]
5619    (9.0, 9.5]
5620    (9.0, 9.5]
5621    (9.0, 9.5]
Name: IMDb, Length: 5622, dtype: category
Categories (5, interval[float64]): [(0.0, 5.0] < (5.0, 8.0] < (8.0, 9.0] < (9.0, 9.5] < (9.5, 11.0]]

In [277]:
representation

array([ 0. ,  5. ,  8. ,  9. ,  9.5, 11. ])

In [278]:
bins.value_counts()

(5.0, 8.0]     3321
(8.0, 9.0]      859
(0.0, 5.0]      245
(9.0, 9.5]       33
(9.5, 11.0]       3
Name: IMDb, dtype: int64